<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>HellO This is picture of Squirrel</h1>
    {{insert}}
    <img src="{% static 'images/squirrel.jpeg' %}" alt="animal">
    <img src="{% static 'images/animal.jpg' %}" alt="animal_two" style="height:200px;width:100px"><br>
    <a href="{% url 'my_app:second'  %}">second.html_page</a>
    <a href="{% url 'admin:index'  %}">admin_page</a>
</body>
</html>